.wrapper {
  display: flex;
  background-color: black;
}
.wrapper .nav-container {
  width: 20%;
  padding: 25px;
}
.wrapper .nav-container .logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.wrapper .nav-container .logo .logo-image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 10px;
}
.wrapper .nav-container .logo .logo-text {
  font-size: 45px;
}
.wrapper .nav-container .menu {
  color: white;
}
.wrapper .nav-container .menu .section {
  margin-bottom: 20px;
}
.wrapper .nav-container .menu .section .heading {
  color: #555;
  margin-bottom: 5px;
}
.wrapper .nav-container .menu .section .item-container {
  padding: 10px;
  font-weight: 300;
}
.wrapper .nav-container .menu .section .item-container .item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
}
.wrapper .nav-container .menu .section .item-container .item:hover {
  background: linear-gradient(180deg, #ab8742 0%, #ab8742 100%);
  cursor: pointer;
}
.wrapper .nav-container .menu .section .item-container .item i {
  margin-right: 20px;
}
.wrapper .body-container {
  width: 80%;
}
.wrapper .body-container .body-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.wrapper .body-container .body-header .search-bar {
  display: flex;
  align-items: center;
  width: 65%;
  color: white;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 10px;
}
.wrapper .body-container .body-header .search-bar i {
  margin-right: 15px;
}
.wrapper .body-container .body-header .search-bar input {
  color: white;
  background: transparent;
  border: none;
  width: 90%;
  height: 30px;
  padding: 5px;
  font-size: 16px;
}
.wrapper .body-container .body-header .search-bar input:focus-visible {
  outline: none;
}
.wrapper .body-container .body-header .user-details {
  display: flex;
  align-items: center;
}
.wrapper .body-container .body-header .user-details .greetings {
  color: white;
  margin-right: 40px;
}
.wrapper .body-container .body-header .user-details .profile-picture .dp {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.wrapper .body-container .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 100%;
  height: 100vh;
  color: #414b3b;
  border-radius: 10px;
  padding: 30px 40px;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.wrapper .body-container .popup-content {
  width: 600px;
  height: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.wrapper .body-container .popup-content .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.wrapper .body-container .popup-content input {
  width: 100%;
  height: 100%;
  background: lightgray;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-size: 16px;
  color: #414b3b;
  padding: 20px 45px 20px 20px;
}
.wrapper .body-container .popup-content i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
}
.wrapper .body-container .popup-content .close-btn {
  width: 50%;
  height: 45px;
  background: #ab8742;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
}
.wrapper .body-container .content {
  display: flex;
  padding: 20px;
  color: white;
}
.wrapper .body-container .content .song-catalog {
  width: 65%;
  height: 800px;
  overflow-y: scroll;
}
.wrapper .body-container .content .song-catalog .heading {
  margin-bottom: 20px;
}
.wrapper .body-container .content .song-catalog #artist-list {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 40px;
  padding: 10px;
}
.wrapper .body-container .content .song-catalog #artist-list .artist-info {
  width: 100px;
  margin-right: 30px;
}
.wrapper .body-container .content .song-catalog #artist-list .artist-info:last-child {
  margin-right: 0px;
}
.wrapper .body-container .content .song-catalog #artist-list .artist-info .artist-picture {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.wrapper .body-container .content .song-catalog #artist-list .artist-info .artist-name {
  text-align: center;
  word-wrap: break-word;
}
.wrapper .body-container .content .song-catalog #search-results {
  display: none;
}
.wrapper .body-container .content .song-catalog #trending-list,
.wrapper .body-container .content .song-catalog #recent-list,
.wrapper .body-container .content .song-catalog #recommended-list,
.wrapper .body-container .content .song-catalog #search-list,
.wrapper .body-container .content .song-catalog #play-list {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 40px;
  padding: 10px;
}
.wrapper .body-container .content .song-catalog #trending-list .song-info,
.wrapper .body-container .content .song-catalog #recent-list .song-info,
.wrapper .body-container .content .song-catalog #recommended-list .song-info,
.wrapper .body-container .content .song-catalog #search-list .song-info,
.wrapper .body-container .content .song-catalog #play-list .song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.wrapper .body-container .content .song-catalog #trending-list .song-info:last-child,
.wrapper .body-container .content .song-catalog #recent-list .song-info:last-child,
.wrapper .body-container .content .song-catalog #recommended-list .song-info:last-child,
.wrapper .body-container .content .song-catalog #search-list .song-info:last-child,
.wrapper .body-container .content .song-catalog #play-list .song-info:last-child {
  margin-right: 0px;
}
.wrapper .body-container .content .song-catalog #trending-list .song-info:hover,
.wrapper .body-container .content .song-catalog #recent-list .song-info:hover,
.wrapper .body-container .content .song-catalog #recommended-list .song-info:hover,
.wrapper .body-container .content .song-catalog #search-list .song-info:hover,
.wrapper .body-container .content .song-catalog #play-list .song-info:hover {
  scale: 1.05;
}
.wrapper .body-container .content .song-catalog #trending-list .song-info .song-cover,
.wrapper .body-container .content .song-catalog #recent-list .song-info .song-cover,
.wrapper .body-container .content .song-catalog #recommended-list .song-info .song-cover,
.wrapper .body-container .content .song-catalog #search-list .song-info .song-cover,
.wrapper .body-container .content .song-catalog #play-list .song-info .song-cover {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.wrapper .body-container .content .song-catalog #trending-list .song-info .song-name,
.wrapper .body-container .content .song-catalog #recent-list .song-info .song-name,
.wrapper .body-container .content .song-catalog #recommended-list .song-info .song-name,
.wrapper .body-container .content .song-catalog #search-list .song-info .song-name,
.wrapper .body-container .content .song-catalog #play-list .song-info .song-name {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .body-container .content .song-catalog #album-list {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 40px;
  padding: 10px;
}
.wrapper .body-container .content .song-catalog #album-list .album {
  display: flex;
  width: 550px;
  height: 300px;
  margin-right: 50px;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-cover {
  width: 200px;
  height: 275px;
  margin-right: 25px;
  border-radius: 10px;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs {
  overflow-y: scroll;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 10px;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song:hover {
  background-color: #222;
  border-radius: 10px;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song:last-child {
  margin-right: 0px;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song .song-number {
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song .song-details {
  margin-left: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song .song-details .song-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song .song-details .song-additional-info {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #888;
  font-weight: 300;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song .song-details .song-additional-info .song-artist {
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .body-container .content .song-catalog #album-list .album .album-songs .song .song-details .song-additional-info .seperator {
  border: 2px solid #888;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}
.wrapper .body-container .content .song-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}
.wrapper .body-container .content .song-player .song-cover {
  width: 300px;
  height: 400px;
  margin-bottom: 50px;
}
.wrapper .body-container .content .song-player .song-cover img {
  width: 300px;
  height: 400px;
}
.wrapper .body-container .content .song-player .song-info {
  width: 300px;
  font-weight: 300;
  margin-bottom: 30px;
}
.wrapper .body-container .content .song-player .song-info .song-name {
  font-size: 25px;
  margin-bottom: 5px;
}
.wrapper .body-container .content .song-player .song-info .song-artists {
  font-size: 18px;
  color: #888;
  margin-bottom: 5px;
}
.wrapper .body-container .content .song-player .song-info .song-genre {
  font-size: 18px;
  color: #888;
}
.wrapper .body-container .content .song-player .song-progress-bar {
  display: flex;
  width: 300px;
  margin-bottom: 30px;
  align-items: center;
}
.wrapper .body-container .content .song-player .song-progress-bar input {
  width: 100%;
  margin: 0 10px;
}
.wrapper .body-container .content .song-player .song-progress-bar .song-current-time,
.wrapper .body-container .content .song-player .song-progress-bar .song-duration {
  font-size: 13px;
  color: #888;
  font-weight: 100;
}
.wrapper .body-container .content .song-player .control-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .body-container .content .song-player .volume-button {
  margin-right: 10px;
}
.wrapper .body-container .content .song-player .song-controls {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.wrapper .body-container .content .song-player .song-controls .play-pause-button {
  width: 45px;
  height: 45px;
  color: black;
  background-color: white;
  border-radius: 50%;
}
.wrapper .body-container .content .song-player .song-controls .previous-button,
.wrapper .body-container .content .song-player .song-controls .next-button {
  width: 30px;
  height: 30px;
  color: black;
  background-color: white;
  border-radius: 50%;
}

/*# sourceMappingURL=home.css.map */
